<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="form-group" style="max-width: 400px">
    <f:if condition="{isEnabled}">
        <f:then>
            <f:render
                partial="Backend/Form/OneTimePassword"
                arguments="{
                    isEnabled: 1,
                    prefix: prefix
                }"
            />
        </f:then>
        <f:else>
            <f:render partial="Backend/Form/QrCode" arguments="{totpSecret: totpSecret}"/>
            <f:render
                partial="Backend/Form/Secret"
                arguments="{
                    secret: totpSecret.secretKey,
                    prefix: prefix
                }"
            />
            <f:render
                partial="Backend/Form/OneTimePassword"
                arguments="{
                    prefix: prefix
                }"
            />
        </f:else>
    </f:if>
</div>

</html>
