<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mf="http://typo3.org/ns/Causal/MfaFrontend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="mb-2">
    <p>
        <strong>
            <span class="badge {badgeClass}"><f:translate key="totp.step1" extensionName="mfa_frontend"/></span>
            <f:translate key="totp.step1.title" extensionName="mfa_frontend"/>
        </strong>
    </p>
    <f:translate key="totp.step1.body" extensionName="mfa_frontend"/>
    <div>
        <mf:qrImage secret="{totpSecret}"
                  alt="{f:translate(key: 'qrcode', extensionName: 'mfa_frontend')}"
                  title="Secret: {totpSecret.secretKey}"
        />
    </div>
</div>

</html>
