<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="mb-3">
    <p>
        <strong>
            <span class="badge badge-primary"><f:translate key="totp.step2" extensionName="mfa_frontend"/></span>
            <f:translate key="totp.step2.title" extensionName="mfa_frontend"/>
        </strong>
    </p>
    <f:translate key="totp.step2.body" extensionName="mfa_frontend"/>
    <input type="text"
        id="field_tx_mfafrontend_secret"
        name="data{prefix}[tx_mfafrontend_secret]"
        value="{secret}"
        readonly="readonly"
        class="form-control"
    />
</div>

</html>
