<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <label class="t3js-formengine-label">
        <f:translate key="secret" extensionName="mfa_frontend"/>
    </label>

    <input type="text"
        id="field_tx_mfafrontend_secret"
        name="data{prefix}[tx_mfafrontend_secret]"
        value="{secret}"
        class="form-control t3js-formengine-validation-marker t3js-formengine-palette-field"
        readonly="readonly"
    />

    <div class="mb-3">
        <f:translate key="storeSecret" extensionName="mfa_frontend"/>
        <strong>
            <f:translate key="recoverAuthenticator" extensionName="mfa_frontend"/>
        </strong>
    </div>

</html>
