<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div>
    <label for="field_tx_mfafrontend_secret" class="mb-2">
        <strong><f:translate key="secret" extensionName="mfa_frontend"/></strong>
    </label>
    <input type="text"
        id="field_tx_mfafrontend_secret"
        name="data{prefix}[tx_mfafrontend_secret]"
        value="{secret}"
        readonly="readonly"
        class="form-control"
    />
</div>
<div class="mt-2 mb-3">
    <f:translate key="totp.step2.title" extensionName="mfa_frontend"/>.
    <strong>
        <f:translate key="totp.step2.body" extensionName="mfa_frontend"/>
    </strong>
</div>

</html>
